{# templates/artiste/cherche.html.twig #}

<h2>Résultats de la recherche pour "{{ query }}"</h2>

<ul>
    {% for artist in artists %}
        <li>
            <a href="{{ path('artist_info', { id: artist.id }) }}">
                {{ artist.name }}
            </a>
        </li>
    {% else %}
        <li>Aucun artiste trouvé.</li>
    {% endfor %}
</ul>
