{# templates/layout/footer.twig #}
<footer class="footer">
    <div class="footer__social">
        <span class="footer__intro">Vous aimez mon <a href="">site</a> ? Gardez de mes nouvelles :</span>
        <div class="footer__links">
           
            <a> Contact</a>
            <a>Facebook</a>
            <a>Instagram</a>
        </div>
    </div>
    <p class="footer__copyright">Copyright © 2024 Music.com. Tous droits réservés. 
        <a >Mentions légales</a>.
    </p>
</footer>
