{% block body %}

<div class="menu-admin">
    <div class="side-bar">
       
        <a href="{{ path('app_logo_admin_edit') }}">Paramètres logo</a>
    </div>
</div>

{% block footer %}
{% endblock %}

{% endblock %}
